<div class="alert alert-info">
    <p>
        You are viewing the archive for the month <span data-bind="text: month"></span>.
    </p>
</div>

<pagination params="posts: posts, page: page"></pagination>
