#page {
	margin-top: 80px;
}

.single-post {
    margin: 20px;
    padding: 20px;
}

.single-post>h2 {
    margin-top: 40px;
}

.post-content-container {
    padding-top: 20px;
    border-top: 1px dashed #aaa;
}
