<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#!" data-bind="text: blogName"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" data-bind="foreach: { data: pages, as: 'page' }">
                <li data-bind="css: { active: $parent.route().slug === page.slug() }">
                    <a href="/" data-bind="attr: { href: $parent.AS.prefixUrlTo({ slug: page.slug() }, 'page') }, text: page.linkText()"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
