<div class="alert alert-info">
    <p>
        You are viewing the archive for the tag <span data-bind="text: tag"></span>.
    </p>
</div>

<pagination params="posts: posts, page: page"></pagination>
