<div class="single-post">
    <!-- ko if: !short -->
        <h2 data-bind="text: post.title()">Loading post contents…</h2>
    <!-- /ko -->

    <!-- ko if: short -->
        <a data-bind="attr: { href: AS.postUrl(post) }">
            <h2 data-bind="text: post.title()">Loading post contents…</h2>
        </a>
    <!-- /ko -->

    <!-- ko if: !post.isPage() -->
        <div class="post-info">
            Posted on

            <span class="post-date">
                <a data-bind="attr: { href: AS.prefixUrlTo({pageNumber: 1, year: year}, 'year') }, text: year"></a>–<a data-bind="attr: { href: AS.prefixUrlTo({pageNumber: 1, year: year, month: month}, 'month') }, text: month"></a>
            </span>

            with tags

            <span class="post-tags" data-bind="foreach: post.tags()">
                <a data-bind="attr: { href: $parent.AS.prefixUrlTo({pageNumber: 1, slug: $data}, 'tag') }, text: $data"></a><!-- ko if: ($index() < $parent.post.tags().length - 1) -->,<!-- /ko --><!-- ko if: ($index() == $parent.post.tags().length - 1) -->.<!-- /ko -->
            </span>
        </div>
    <!-- /ko -->

    <div class="post-content-container">
        <div class="post-content" data-bind="html: content() !== null? marked(content()) : ''"></div>

        <!-- ko if: short && post.isSplit() -->
            <a data-bind="attr: { href: AS.postUrl(post) }">
                Read more…
            </a>
        <!-- /ko -->
    </div>

    <!-- ko if: useDisqus -->
        <div id="disqus_thread" class="post-comments-container"></div>
    <!-- /ko -->
</div>
